PORT=3000
DATABASE_URL="sqlserver://localhost:1433;database=DailyTaskDB;user=sa;password=YourPassword123!;encrypt=true;trustServerCertificate=true;"
JWT_SECRET="super-secret-dailytask-jwt-key-2026"
JWT_EXPIRES_IN="7d"
